body
{
    margin: 0;
    overflow-x: hidden;
}

.Navbar
{
    display: flex;
    flex-direction: column;
    margin-top: 1vh;

}

header  > a
{
    text-decoration: none;
    color: black;
}

header > a:visited
{
    text-decoration: none;
    color: black;
}


header
{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 55px;
    text-align: left;
    width: 100%;
    padding-left: 2vw;
}

nav
{
    width: 100%;
    height: 10vh;
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;

}

.sidenav
{
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 0vw;
    z-index: 1;
    display: flex;
    flex-direction: column;
    background-color: white;
    transition: 0.5s;
}

.sidenav > form
{
    display: none;
    flex-direction: column;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 25px;
}

.sidenav > form > button
{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 25px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #53F041;
    border: none;
    opacity: 0.9;
    padding: 3vh 0;
}



.sidenav > form > button:hover
{
    cursor: pointer;
    opacity: 1;
}

.sidenav > form > input
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 5vh;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.side-menu-opt
{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10vh;
    margin-top: 1vh;
    background-color: #53F041;
    opacity: 0.8;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.side-menu-opt > label
{
    text-indent: 3vh;
    margin-right: auto;
}



.side-menu-opt > input
{
    margin-right: 2vw;
    width: 2vw;
    height: 2vw;
}

#search
{
    text-align: left;
    width: 99%;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 2px;
    margin-top: 1vh;
}
nav > ul
{
    list-style-type: none;
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;

}

nav > ul > li
{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 15px;
    letter-spacing: 2px;

    border-style: solid;
    border-width: 0px 2px;
    border-color: white;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;

    opacity: 0.8;
    color: white;
    background-color: #53F041;
}

nav > ul > li:hover
{
    opacity: 1;
    cursor: pointer;
}

nav > ul > li > a
{
    color: white;
    text-decoration: none;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav > ul > li > button
{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 15px;
    letter-spacing: 2px;

    border-style: solid;
    border-width: 0px 2px;
    border-color: white;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;

    opacity: 0.8;
    color: white;
    background-color: #53F041;

}


main
{
    display: flex;
    flex-direction: column;
}

.search-bar
{
    margin-top: 2vh;
    width: 100%;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 30px;
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: left;
}

.search-bar > form
{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    margin-left: 1vw;
}

.search-bar > form > input
{
   font-size: 25px;
}

section
{
    display: flex;
    flex-direction: column;
    width: 100vw;
}

section > a
{
    text-decoration: none;
}

section > a:visited
{
    text-decoration: none;
}
 